body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
}

.left-side {
    flex: 1;
    padding: 20px;
    background: #f7f7f7;
    color: #333;
}

.left-side header {
    background: #4CAF50;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.left-side nav {
    display: flex;
    flex-direction: column;
    background: #8b9e8c;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.left-side nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 5px;
}

.left-side nav a:hover {
    color: #388E3C;
}

.left-side nav a.login {
    border: 1px solid #66BB6A;
    border-radius: 5px;
}

.left-side nav a.sign-in {
    background: linear-gradient(to right, #66BB6A, #4CAF50);
    color: #fff;
    border: 1px solid #66BB6A;
    border-radius: 5px;
    padding: 8px 15px;
}

.left-side nav a.sign-in:hover {
    background: linear-gradient(to right, #4CAF50, #388E3C);
}

.left-side section {
    margin-top: 20px;
}

.left-side .animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-side .animal-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
}

.left-side .animal-card img {
    max-width: 100%;
    height: auto;
}

.left-side .animal-card:hover {
    transform: scale(1.05);
}

.left-side footer {
    background: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.right-side {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom, #4CAF50, #66BB6A);
    color: #fff;
}

.right-side header {
    background: #4CAF50;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.right-side #map {
    height: 500px;
    width: 100%;
}
